body {
    font-family: 'NanumBarunGothic';
    text-align: center;
}

a {
    color: black;
    text-decoration-line: none;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.item {
    justify-self: center;
}

.item ul {
    list-style-position: inside;
    text-align: center;
}

.item ul li {
    margin: 10px;
}